[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/SpaceTristan/hugo-theme-m10c
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes\\doks"]
	path = themes\\doks
	url = https://github.com/h-enk/doks-child-theme.git
