@font-face {
    font-family: 'ricky';
    font-weight: 100;
    font-display: swap;
    src: url(../ricky-brandon.regular.otf) format('woff2');
  }

.particlesCon{
    padding-top: 30px;
    height: 270px;
    position: relative;
    width: 100%;
    background-color: #713996 ;
}

.tsparticles {
    position: absolute;
    height:  100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0; 
}

.headerTxt{
    top: 90px;
    position: absolute;
    font-family: 'ricky';
    font-size: 96px !important;
    font-weight: 400;
    word-spacing: 4px;
    width:100% ;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    color: #f1f1f2;
    z-index: 3;
}

