{{ define "main" }}
<div id="box" class="container-fluid">
  <div id="hero-img" class="row">
    <div id="hero-text" class="col">
      <span>
        <h1>{{.Title}}</h1>
        <h1 style="margin-top: 0px; font-size: 3rem">{{.Params.title2}}</h1>
        <h2><strong>{{.Params.description}}</strong></h2>
        <p>{{.Params.description2}}</p>
        <a
          class="btn btn-primary btn-lg mb-2"
          id="hackathon-btn"
          href="https://app.buidlbox.io/opendata/regen-rangers-hack"
          role="button"
          >Join Now</a
        >
      </span>
    </div>
    <div class="custom-shape-divider-bottom-1679790863">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>
  <div class="row white-section py-5">
    {{ with .Site.GetPage "/hackathons/about-the-hackathon.md" }}

    <div
      class="col-xsm-12 col-sm-12 col-md-7 col-lg-7 col-xlg-7 d-flex align-items-center"
    >
      <span>
        <h2 id="title_text">
          <b> {{.Title}} </b>
        </h2>
        <p>{{.Content}}</p>
        <button
          id="hackathon-btn"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Read More
        </button>
      </span>
    </div>
    {{end}}

    <div class="col d-flex justify-content-center align-items-end pt-5">
      {{ $asset := resources.Get "./badge.png" }}
      <figure class="image is-3by2">
        <img alt="odc-shield" src="{{$asset.RelPermalink}}" />
      </figure>
    </div>
  </div>
  <div class="row purple-section">
    <div class="custom-shape-divider-top-1679849767">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>

    <div class="col d-flex justify-content-center">
      {{ $asset := resources.Get "/coin.png" }} {{ $img := $asset.Fit "400x350"
      }}
      <figure class="image is-3by2">
        <img alt="coin" src="{{$img.RelPermalink}}" />
      </figure>
    </div>

    {{ with .Site.GetPage "/hackathons/bounty.md" }}
    <div class="col-xsm-12 col-sm-12 col-md-7 col-lg-8 col-xlg-8 text-center">
      <h2><strong>{{.Title}} </strong></h2>
      <p>{{.Content}}</p>
    </div>
    {{end}}

    <div class="custom-shape-divider-bottom-1679959583">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <div class="row partners-section">
    <div class="col">
      <h2>{{.Params.sponsors}}</h2>
    </div>
  </div>

  <div class="row sponsers">
    <div class="col-xsm-12 col-sm-12 col-lg-8 col-xlg-8 pb-5 pl-5">
      <div class="d-flex justify-content-around align-items-end">
        {{ $asset := resources.Get "/gitcoin.png" }}
        <img
          style="height: 90px; width: 90px"
          alt="gitcoin"
          src="{{$asset.RelPermalink}}"
        />
        {{ $asset := resources.Get "/os.png" }} {{ $img := $asset.Fit "100x100"
        }}
        <img
          class="d-flex align-items-end"
          style="height: 80px; width: 80px"
          alt="oseanProtocol"
          src="{{$img.RelPermalink}}"
        />
        {{ $asset := resources.Get "/trueblocks.png" }} {{ $img := $asset.Fit
        "100x100" }}
        <img
          style="height: 100px; width: 100px"
          alt="trueblocks"
          src="{{$img.RelPermalink}}"
        />
      </div>
    </div>
    <div class="col-xsm-12 col-sm-12 col-lg-4 col-xlg-4 pb-5">
      <div class="d-flex justify-content-around align-items-center pl-5">
        {{ $asset := resources.Get "/pokt.png" }} {{ $img := $asset.Fit
        "100x100" }}
        <img
          style="height: 75px"
          alt="poktNetwork"
          src="{{$img.RelPermalink}}"
        />
        {{ $asset := resources.Get "/xyz.png" }} {{ $img := $asset.Fit "100x100"
        }}
        <img
          style="height: 110px; width: 110px"
          alt="Supermodular.xyz"
          src="{{$img.RelPermalink}}"
        />
      </div>
    </div>
  </div>

  <div class="row gray-section">
    <div class="custom-shape-divider-top-1679959677">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
    {{ with .Site.GetPage "/hackathons/conclusion.md" }}

    <div class="col">
      <div class="text-center">{{.Content}}</div>
    </div>
    {{end}}
    <div
      class="col-xsm-12 col-sm-12 col-md-6 col-lg-6 col-xlg-8 gray-section-img"
    ></div>
    <div class="custom-shape-divider-bottom-1680982972">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
  </div>
  {{ with .Site.GetPage "/hackathons/previous-hackathons.md" }}
  <div class="row footer-img">
    <div class="col footer-img-text text-center">
      <div class="justify-content-start">
        <h2 id="title_text">{{.Title}}</h2>
        {{.Content}}
      </div>
    </div>
  </div>
  {{end}}
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div
      class="modal-content"
      style="background-color: #f9f8ff; color: #1f374a"
    >
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel" style="color: #1f374a">
          {{.Params.about}}
        </h2>
      </div>
      <div class="modal-body header-bar" style="color: #1f374a">
        {{.Content}}
      </div>
      <div class="modal-footer header-bar">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

{{ end }}
