/* fonts */
@font-face {
  font-family: 'Megaton';
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Megaton/Megaton.otf) format('woff2');
}

@font-face {
  font-family: 'voice-activated';
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/voice-activated-bb/voiceactivatedbb_ot/VoiceActivatedBB_reg.otf) format('woff2');
}
/* ------- */

/* hero section */

#hero-text{
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  font-size: x-large;
}

#hero-img{
  background-image:radial-gradient(rgba(0, 0, 0, 0.9), rgba(248, 248, 248, 0.4)), url("./hero.png");
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-self: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  background-position: center  bottom;
  position: relative;
  flex-direction: row;
  margin-top: -55px;
}

@media(max-width:768px){
  #hero-img{
    min-height: 88vh;
  }
}

/* ----- */

/* all sections */

#box h1 {
  font-size: 5rem;
  font-family: 'Megaton';
  margin-bottom: 0px;
  background: rgb(0,201,178);
  background: linear-gradient(180deg, rgba(0,201,178,1) 0%, rgba(244,243,148,1) 72%, rgba(244,243,148,1) 90%);   background-clip: text;
  color: transparent;
}

#box{
  font-family: 'voice-activated';
}

/* ------- */

/* first section */

.white-section {
  background-color: #f9f8ff ;
  display: flex;
  min-height: 60vh;
  color: #1f374a;
  justify-content: center;
  text-align:center;
}

/* second section */

.purple-section{
  background: rgb(113,57,150);
  background: radial-gradient(circle, rgba(113,57,150,1) 8%, rgba(69,65,71,1) 100%);   /* background-color:#713996; */
  color: #e2e2e2;
  position: relative;
  padding-top: 218px;
  padding-bottom: 218px;
  display: flex;
  align-items: center;
}

.purple-section h2{
  font-size: 3rem;
  background: rgb(244,243,148);
  background: linear-gradient(332deg, rgba(244,243,148,1) 12%, rgba(0,201,178,1) 91%);
  background-clip: text;
  color: transparent;

}

/* headers */
#title_text{
  font-size: 3rem;
  background: rgb(0,201,178);
  background: linear-gradient(45deg, rgba(0,201,178,1) 41%, rgba(244,243,148,1) 99%);
  background-clip: text;
  color: transparent;
}
/* ----- */

/* third section */
.partners-section{
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #f9f8ff

}
.partners-section div{
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  height: 170px;
  color: #1f374a

}
.sponsers{
  background-color: #f9f8ff;
  height: 250px;
  padding-bottom: 50px;
  justify-content: center;
  display: flex;
}
/* ------ */

/* fourth section */
.gray-section{
  background-color:#e2e2e2 ;
  color: #1f374a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  min-height: 60vh;
  padding-top: 30px;
  position: relative;

}

.gray-section-img {
  background-image: linear-gradient(180deg, rgba(235,232,232,0.2) 85%,rgba(164, 161, 161, 0) 2%),url("./data.png");
  display: flex;
  background-repeat: no-repeat;
  align-items: end;
  justify-content: start;
  background-position: center;
  position: relative;
  min-height: 70vh;

}

@media(max-width:768px){
  .gray-section p{
    padding-top: 98px;
  }
}
/* ---- */

/* bttons */

#hackathon-btn{
  background-color: #00c9b2;
}

#hackathon-btn:hover{
  border: 1px solid #f5f8fa;
	background-color: #01af9b;
	text-decoration: none;
}
/* ------ */

/* footer section */
.footer-img{
  color: rgb(194, 194, 194);
  background-image: url("./footer.png");
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-self: center;
  background-repeat: no-repeat;
  align-items: start;
  justify-content: start;
  min-height: 100vh;
  background-position: center  bottom;
  position: relative;
  flex-direction: row;
  margin-top: 0;
}

.footer-img-text{
  background-image:  linear-gradient(360deg, rgba(51, 5, 65, 0), rgba(0, 0, 0, 1));
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: white;
  position: absolute;
  font-size: x-large;
  margin-top: 0;
  padding-top: 0;
  padding-top: 0;
}

.footer-img-text a{
  color: #8bd2f7;
}


@media(max-width:768px){
  .footer-img{
    min-height: 88vh;
  }
}

/* -------------- */

/* dividers */

.custom-shape-divider-bottom-1679790863 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679790863 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 113px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1679790863 .shape-fill {
    fill: #f9f8ff;
}


.custom-shape-divider-top-1679849767 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679849767 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 108px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1679849767 .shape-fill {
  fill:  #f9f8ff;
}

.custom-shape-divider-bottom-1679959583 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679959583 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1679959583 .shape-fill {
  fill: #f9f8ff;
}

.custom-shape-divider-top-1679959677 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679959677 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1679959677 .shape-fill {
  fill: #f9f8ff;
}

.custom-shape-divider-bottom-1680982972 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680982972 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1680982972 .shape-fill {
  fill: #000102;
}
/* ---------- */
