
/* hero section */
@font-face {
  font-family: 'Megaton';
  font-weight: 100;
  font-display: swap;
  src: url(../Megaton/Megaton.otf) format('woff2');
}

.headerTxt {
    font-family: 'Megaton'!important;
    font-weight: bolder;
    margin-bottom: 0px;
    background: rgb(0,201,178);
    background: linear-gradient(180deg, rgba(0,201,178,1) 0%, rgba(244,243,148,1) 72%, rgba(244,243,148,1) 90%);  
    background-clip: text;
    color: transparent;
  }
  
  .subTxt {
    font-family: 'Megaton'!important;
    font-weight: bolder;
    margin-bottom: 30px;
    background: rgb(0,201,178);
    background: linear-gradient(180deg, rgba(0,201,178,1) 0%, rgba(244,243,148,1) 72%, rgba(244,243,148,1) 90%); 
    background-clip: text;
    color: transparent;
  }
  .heroTxt{
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:  #e2e2e2;
    position: absolute;
    font-size: x-large;
  }
  
  .heroImg{
    background-image:radial-gradient(rgba(0, 0, 0, 0.9), rgba(248, 248, 248, 0.4)), url("./hero.png")!important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center  bottom;
    position: relative;
    margin-top: -30px;
  }
  
  @media(max-width:768px){
    .img{
      min-height: 88vh;
    }
  }
  
  /* ----- */
  /* bttons */
  
  .hackathonBtn{
    color: #f5f8fa;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #00c9b2;
  
  }
  
  .hackathonBtn:hover{
      background-color: #01af9b;
      text-decoration: none;
  }
  
  .first span p{
    font-size: larger;
    color: #1f374a;
    
  }
  
  .purple{
    background: rgb(113,57,150);
    background: radial-gradient(circle, rgba(113,57,150,1) 8%, rgba(69,65,71,1) 100%);
    min-height: 70vh;
  }
  
  .purple p{
    font-size: larger;
    color: #e2e2e2;
    padding: 18px;
  
  }
  
  .box p{
    font-family: 'voice-activated'!important;
    font-weight: 100;
  
  }
  
  .box h4{
    font-family: 'voice-activated'!important;
    font-weight: 100;
  
  }
  
  .txt{
    font-family: 'voice-activated'!important;
    font-weight: bold;
    background: rgb(244,243,148);
    background: linear-gradient(80deg, rgba(0,201,178,1) 41%, rgba(244,243,148,1) 99%);
    background-clip: text;
    color: transparent;
    margin-bottom: 30px ;
  }
  .partners{
    justify-content:'center';
    align-items: flex-start;
    display:'flex';
    min-height: 60vh;
  
  }
  .partners h3{
    font-family: 'voice-activated'!important;
    font-weight: 100;
  }
  .gray{
    background-color:#e2e2e2 ;
    color: #1f374a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0px;
    min-height: 70vh;
    padding-top: 30px;
    position: relative;
  
  }
  .gray p{
    padding: 18px;
    text-align: center;
    font-size: larger;
  }
  
  /* footer section */
  .footerImg{
    color: rgb(194, 194, 194);
    background-image: url("./footer.png");
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-self: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    background-position: center  bottom;
    position: relative;
    flex-direction: row;
    margin-top: 0;
  }
  
  .footerTxt{
    background-image:  linear-gradient(360deg, rgba(51, 5, 65, 0), rgba(0, 0, 0, 1));
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: white;
    position: absolute;
    font-size: x-large;
    margin-top: 0;
    padding-top: 0;
    padding-top: 0;
  }
  
  .footerTxt a{
    color: #8bd2f7;
  }
  
  
  @media(max-width:768px){
    .footerImg{
      min-height: 88vh;
    }
  }
  
  /* -------------- */
  
  